In [7]:
import pandas as pd
import os

In [8]:
cities_file=os.path.join('.','resources','cities.csv')
cities_file

'.\\resources\\cities.csv'

In [9]:
file_cities=pd.read_csv(cities_file)
cities_df=pd.DataFrame(file_cities)
cities_df=cities_df[["City_ID", "City", "Country", "Lat", "Max Temp", "Cloudiness", "Wind Speed", "Humidity"]]
cities_df.head()

,City_ID,City,Country,Lat,Max Temp,Cloudiness,Wind Speed,Humidity
0,0,jacareacanga,BR,-6.22,89.60,0,6.93,62
1,1,kaitangata,NZ,-46.28,42.61,100,5.64,94
2,2,goulburn,AU,-34.75,44.32,20,10.11,91
3,3,lata,IN,30.78,59.89,76,0.94,89
4,4,chokurdakh,RU,70.62,32.17,0,2.95,88

In [10]:
cities_df.to_html('./resources/cities.html', index=False)